.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.drum-pad {
  border: 1px solid black;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}
